
body, html {
	font-family: "Montserrat", sans-serif;
}

h1 {
	text-align: center;

	position: absolute;
	top: 0vmin;
	font-size: 5vmin;
	width: 72vmin;
	left: calc(50vw - 36vmin);
}

.sudoku table {
	border: 2px solid black;
	border-collapse: collapse;
	box-sizing: border-box;

	position: absolute;
	height: 72vmin;
	width: 72vmin;
	left: calc(50vw - 36vmin);
	top: 20vmin;
}

.sudoku tr {
	height: 8vmin;
	box-sizing: border-box;
}
.sudoku td {
	border: 1px solid #dddddd;
	width: 8vmin;
	height: 8vmin;
	text-align: center;
	font-size: 4vmin;
	cursor: default;
	font-family: 'Leckerli One', cursive;
	color: #0000ff;
	box-sizing: border-box;
}

.sudoku td:hover {
	background-color: #ffffdd;
}

.sudoku td.thickleft {
	border-left: 2px solid black;
}

.sudoku td.thicktop {
	border-top: 2px solid black;
}

.sudoku td[data-active="active"] {
	background-color: #ffff99;
}

.sudoku td[data-given="given"] {
	font-family: "Montserrat", sans-serif;
	color: #000000;
}

.winbox {
	z-index: 5;
	position: absolute;
	height: 72vmin;
	width: 72vmin;
	left: calc(50vw - 36vmin);
	top: 20vmin;
}
.wintext {
	text-align: center;
	position: absolute;
	width: 60vmin;
	height: 16vmin;
	left: 6vmin;
	top: 28vmin;
	font-family: 'Leckerli One', cursive;
	font-size: 10vmin;
	transform: rotate(-20deg);
	color: #ffff66;
	text-shadow: 0 0 3vmin #000000,
	             0 0 1vmin #000000;
}


select, button {
	height: 6vmin;
	font-size: 2vmin;
	font-family: "Montserrat", sans-serif;
	background-color: #ffffff;
	border: 2px solid black;
	box-sizing: border-box;
}

button:hover {
	background-color: #ffffdd;
	cursor: pointer;
}

button:active {
	background-color: #ffff99;
}

button#new {
	position: absolute;
	top: 12vmin;
	left: calc(50vw - 36vmin);
	width: calc(24vmin - 1px);
}
select#level {
	position: absolute;
	top: 12vmin;
	left: calc(50vw - 12vmin - 1px);
	border-left: none;
	text-indent: 1vmin;
	width: 20vmin;
}

button#restart {
	position: absolute;
	top: 12vmin;
	right: calc(50vw - 36vmin + 1px);
	width: calc(24vmin + 2px);
}
