
body, html {
	font-family: "Montserrat", sans-serif;
}

h1 {
	text-align: center;
}

.sudoku table {
	border: 2px solid black;
	border-collapse: collapse;
	margin: auto;
}

.sudoku td {
	border: 1px solid #dddddd;
	width: 3em;
	height: 3em;
	text-align: center;
	font-size: 1.2em;
	cursor: default;
	font-family: 'Leckerli One', cursive;
	color: #0000ff;
}

.sudoku td:hover {
	background-color: #ffffdd;
}

.sudoku td.thickleft {
	border-left: 2px solid black;
}

.sudoku td.thicktop {
	border-top: 2px solid black;
}

.sudoku td[data-active="active"] {
	background-color: #ffff99;
}

.sudoku td[data-given="given"] {
	font-family: "Montserrat", sans-serif;
	font-size: 120%;
	color: #000000;
}

.sudoku td table.minis {
	font-size: 0.6em;
	color: #dddddd;
	border: 0px solid black;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.sudoku td table.minis td {
	width: 1em;
	height: 1em;
	border: 0px solid black;
}
.sudoku td table.minis td.activemini {
	color: #666666;
}

.winbox {
	z-index: 5;
	position: absolute;
	left: 50%;
	margin-left: -5em;
	width: 10em;
	font-size: 500%;
	display: table;
	transform: rotate(-10deg);
}
.wintext {
	display: table-cell;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: 'Leckerli One', cursive;

}
